.txt-orange{
	font-weight: $medium;
	font-family: "bebas___-webfont";
	
}

.color-white{
	color:$white;
}

.color-orange{
	color: $orange;
}

.color-gray{
	color: $gray;
}

.light-orange{
	color: #FFAB85;
}

.dark-gray{
	color: $gray_2;
}

.icon{
	margin-bottom: -11rem;
}

.txt-icon{
	padding-left:6rem;
	padding-bottom: 2rem;
}

.mg-top-50{
	margin-top:5rem;
}

.pd-top15{
	padding-top: 1.2rem;
}

.mg-btn-30{
	padding-bottom:3rem;
}

.pd-btn-50{
	padding-bottom:5rem;
}

.mg-btn-40{
	margin-bottom:4rem;
}

.width{
	width:100%;
}

.display{
	display: inline-block;
}

.right{
	margin-right: 8.333333333333332%;
}


