/*Footer*/
.bg-orange{
	background: $orange;
	height: 100%;
	padding-top: 2rem;
	padding-left: 2rem;
	border-right: 2.6rem solid $white;
	border-left: 2.6rem solid $white;
	margin-left: 7.3%;
	margin-right: -12.5%;
}

footer{
	background: $orange_2;
	margin-top: 2rem;
	width: auto;
}